<footer class="footer-main">
    <div class="footer-top">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="about-widget">
              <div class="footer-logo">
                <figure>
                  <a href="index.html">
                    <img loading="lazy"  src="../../assets/images/logo-2.png" alt="medic">
                  </a>
                </figure>
              </div>
              <p>Tous ceux qui souhaitent nous rejoindre peuvent rejoindre le site officiel</p>
              <ul class="location-link">
                <li class="item">
                  <i class="fas fa-map-marker-alt"></i>
                  <p>tunis</p>
                </li>
                <li class="item">
                  <i class="far fa-envelope" aria-hidden="true"></i>
                  <a href="mailto:support@medic.com">
                    <p>service&#64;medic.com</p>
                  </a>
                </li>
                <li class="item">
                  <i class="fas fa-phone" aria-hidden="true"></i>
                  <p>+216 789 456</p>
                </li>
              </ul>
              <ul class="list-inline social-icons">
                <li class="list-inline-item"><i class="fab fa-facebook-f"></i></li>
                <li class="list-inline-item"><i class="fab fa-twitter"></i></li>
                <li class="list-inline-item"><i class="fab fa-instagram"></i></li>
                <li class="list-inline-item"><i class="fab fa-github"></i></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-5 mb-3 mb-md-0">
            <h2>Services</h2>
            <ul class="menu-link">
              <li>
                <a href="service.html">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>sage femme</a>
              </li>
              <li>
                <a href="service.html">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>Pediatre</a>
              </li>
              <li>
                <a href="service.html">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>doctor</a>
              </li>
              <li>
                <a href="service.html">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>Psycological Clinic</a>
              </li>
              <li>
                <a href="service.html">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>Gynaecological Clinic</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-7">
            <div class="social-links">
              <h2>MESSAGES RÉCENTS</h2>
              <ul>
                <li class="item">
                  <div class="media">
                    <div class="media-left mr-3">
                      <a href="blog-details.html">
                        <img loading="lazy" src="../../assets/images/blog/post-thumb-small.jpg" alt="post-thumb">
                      </a>
                    </div>
                    <div class="media-body">
                      <h5><a href="blog-details.html">Une leçon</a></h5>
                      <p>l'adipisicing Lorem ipsum dolor doit être suivi de l'adipisicing elit. L'ouverture, la douleur..</p>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="media">
                    <div class="media-left mr-3">
                      <a href="blog-details.html">
                        <img loading="lazy" src="../../assets/images/blog/post-thumb-small.jpg" alt="post-thumb">
                      </a>
                    </div>
                    <div class="media-body">
                      <h5><a href="blog-details.html">Comment créer un événement</a></h5>
                      <p>Campagnes d'évaluation en octobre pour sensibiliser et réduire le plus grand nombre possible de patientes atteintes d'un cancer du sein.</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </footer>