<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>À propos de nous</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      </div>
      <div class="col-md-4">
        <h5>Liens utiles</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/accueil">Accueil</a></li>
          <li><a routerLink="/about">À propos</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contactez-nous</h5>
        <ul class="list-unstyled">
          <li><i class="fas fa-phone"></i> +123 456 7890</li>
          <li><i class="fas fa-envelope"></i> infoexample.com</li>
          <li><i class="fas fa-map-marker-alt"></i> 123 Rue Principale, Paris, France</li>
        </ul>
      </div>
      <div class="top-right">
        <ul class="social-links">
            <li>
                <a href="https://themefisher.com/" aria-label="facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="https://themefisher.com/" aria-label="twitter">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://themefisher.com/" aria-label="google-plus">
                    <i class="fab fa-google-plus-g"></i>
                </a>
            </li>
            <li>
                <a href="https://themefisher.com/" aria-label="instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="https://themefisher.com/" aria-label="pinterest">
                    <i class="fab fa-pinterest-p"></i>
                </a>
            </li>
        </ul>
    </div>
    </div>
    
    <div class="row">
      <div class="col-12 text-center">
        <p>&copy; 2024 Medic. Tous droits réservés.</p>
      </div>
    </div>
  </div>
</footer>
