



.navbar-nav .nav-link:hover {
    color: #ff69b4; /* Hot pink color for hover effect */
}
.custom-navbar {
    background-color:#e5b8cf;
    margin: auto; /* Couleur bleu-grisé */
}

.navbar-nav .nav-link h5 {
    color: #ff69b4; /* Couleur rose clair */
    margin: 0;
}

.navbar-nav .nav-link:hover h5 {
    color: #ff69b4; /* Couleur rose vif pour l'effet hover */
}

#navbarIcons .nav-link {
    color: #ff69b4; /* Couleur rose clair pour les icônes */
    margin-left: 15px;
}

#navbarIcons .nav-link:hover {
    color: #ff69b4; /* Couleur rose vif pour les icônes au survol */
}
