

<body>
    <div class="page-wrapper">
        <section class="service-section bg-gray section">
            <div class="container">
                <div class="section-title text-center">
                    <h3>Services requis</h3>
                    <p>Un groupe de médecins spécialisés en obstétrique et gynécologie assurant une bonne prise en charge médicale avec une expérience et des compétences. Votre santé est en sécurité.</p>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="items-container">
                            <!-- Médecin 1 : Sage-femme -->
                            <div class="item">
                                <div class="img_holder">
                                    <a routerLink="/sage-femme">
                                        <img loading="lazy" src="../../assets/images/gallery/1.jpg" alt="Image Sage-femme" class="img-fluid">
                                    </a>
                                </div>
                                <div class="image-content">
                                    <span>Votre santé nous tient à cœur</span>
                                    <a routerLink="/sage-femme">
                                        <h6>Nourshenne Cheguenni</h6>
                                    </a>
                                    <p>Sage-femme</p>
                                     <!-- Boutons -->
                                 <div class="buttons">  
                                    <ul><li><button (click)="rendezVous()">Rendez-vous</button></li> 
                                     <li><button (click)="lireSuite()">Lire suite</button></li>
                                        </ul>
                                     
                                 </div>
                                </div>
                            </div>

                            <!-- Médecin 2 : Doctor -->
                            <div class="item">
                                <div class="img_holder">
                                    <a routerLink="/doctor">
                                        <img loading="lazy" src="../../assets/images/gallery/2.jpg" alt="Image Doctor" class="img-fluid">
                                    </a>
                                </div>
                                <div class="image-content">
                                    <span>Votre santé nous tient à cœur</span>
                                    <a routerLink="/doctor">
                                        <h6>Mayssa Abdelkefi</h6>
                                    </a>
                                    <p>Doctor</p>
                                     <!-- Boutons -->
                                 <div class="buttons">  
                                    <ul><li><button (click)="rendezVous()">Rendez-vous</button></li> 
                                     <li><button (click)="lireSuite()">Lire suite</button></li>
                                         </ul>
                                     
                                 </div>
                                </div>
                            </div>

                            <!-- Médecin 3 : Gynécologue clinique -->
                            <div class="item">
                                <div class="img_holder">
                                    <a routerLink="/gynecologue-clinique">
                                        <img loading="lazy" src="../../assets/images/gallery/3.jpg" alt="Image Gynécologue clinique" class="img-fluid">
                                    </a>
                                </div>
                                <div class="image-content">
                                    <span>Votre santé nous tient à cœur</span>
                                    <a routerLink="/gynecologue-clinique">
                                        <h6>Heni Chaker</h6>
                                    </a>
                                    <p>Gynécologue clinique</p>
                                     <!-- Boutons -->
                                 <div class="buttons">  
                                    <ul><li><button (click)="rendezVous()">Rendez-vous</button></li> 
                                     <li><button (click)="lireSuite()">Lire suite</button></li>
                                        </ul>
                                     
                                 </div>
                                </div>
                            </div>

                           
                        </div> <!-- items-container -->
                    </div>
                </div>
            </div>
        </section>
        <section class="service-section bg-gray section">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="items-container">
                          <!-- Médecin 1 : Sage-femme -->
                          <div class="item">
                              <div class="img_holder">
                                  <a routerLink="/sage-femme">
                                      <img loading="lazy" src="../../assets/images/gallery/10.jpg" alt="Image Sage-femme" class="img-fluid">
                                  </a>
                              </div>
                              <div class="image-content">
                                  <span>Votre santé nous tient à cœur</span>
                                  <a routerLink="/sage-femme">
                                      <h6>Souad Mahjbi</h6>
                                  </a>
                                  <p>Sage-femme</p>
                                   <!-- Boutons -->
                                 <div class="buttons">  
                                    <ul><li><button (click)="rendezVous()">Rendez-vous</button></li> 
                                     <li><button (click)="lireSuite()">Lire suite</button></li>
                                         </ul>
                                     
                                 </div>
                              </div>
                          </div>

                          <!-- Médecin 2 : Doctor -->
                          <div class="item">
                              <div class="img_holder">
                                  <a routerLink="/doctor">
                                      <img loading="lazy" src="../../assets/images/gallery/11.jfif" alt="Image Doctor" class="img-fluid">
                                  </a>
                              </div>
                              <div class="image-content">
                                  <span>Votre santé nous tient à cœur</span>
                                  <a routerLink="/doctor">
                                      <h6>Hamida Marouani</h6>
                                  </a>
                                  <p>Doctor</p>
                                   <!-- Boutons -->
                                 <div class="buttons">  
                                    <ul><li><button (click)="rendezVous()">Rendez-vous</button></li> 
                                     <li><button (click)="lireSuite()">Lire suite</button></li>
                                         </ul>
                                     
                                 </div>
                              </div>
                          </div>

                          <!-- Médecin 3 : Gynécologue clinique -->
                          <div class="item">
                              <div class="img_holder">
                                  <a routerLink="/gynecologue-clinique">
                                      <img loading="lazy" src="../../assets/images/gallery/9.jfif" alt="Image Gynécologue clinique" class="img-fluid">
                                  </a>
                              </div>
                              <div class="image-content">
                                  <span>Votre santé nous tient à cœur</span>
                                  <a routerLink="/gynecologue-clinique">
                                      <h6>Helmi oueslati</h6>
                                  </a>
                                  <p>Gynécologue clinique</p>
                                   <!-- Boutons -->
                                 <div class="buttons">  
                                    <ul><li><button (click)="rendezVous()">Rendez-vous</button></li> 
                                     <li><button (click)="lireSuite()">Lire suite</button></li>
                                        </ul>
                                     
                                 </div>
                              </div>
                          </div>


                       
                     

                   

                   
                </div> <!-- items-container -->
            </div>
        </div>
    </div>
</section>
    </div> <!-- End page-wrapper -->

    <div id="back-to-top" class="back-to-top">
        <i class="fa fa-angle-up"></i>
    </div>

    <div class="scroll-to-top scroll-to-target" data-target=".header-top">
        <span class="icon fa fa-angle-up"></span>
    </div>

    <script src="../../assets/js/script.js"></script>
</body>
