<body>
    <div class="container">
        <div class="login-container">
            <div class="image-container">
                <img src="../../assets/images/background/95d1f40dae55775ee9d5e75bc2c86be4.gif" alt="Boule de neige rose">
            </div>
            <div class="form-container">
                <h3>Connectez-Vous à Medic</h3>
                <form (ngSubmit)="onSubmit(form)" #form="ngForm">
                    <div class="form-group">
                        <label for="username">Nom d'utilisateur</label>
                        <input type="text" id="username" name="username" ngModel placeholder="Entrez votre nom d'utilisateur" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" name="password" ngModel placeholder="Entrez votre mot de passe" required>
                    </div>
                    <button type="submit" style="background-color: rgb(238, 150, 227);">Connexion</button>
                </form>
                <div class="register-link">
                    <h3>Vous n'avez pas de compte ? Choisissez votre rôle :</h3>
                    <p>
                        <a routerLink="/inscrimed" style="color: rgb(238, 150, 227);"><b>Je suis un médecin</b></a>
                    </p>
                    <p>
                        <a routerLink="/inscripa" style="color: rgb(238, 150, 227);"><b>Je suis un patient</b></a>
                    </p>
                </div>
            </div>
            <div style="margin-right: 30px;"> <app-qr-code-generator></app-qr-code-generator></div>
        </div>
    </div>
</body>