<body>
  
 <div class="page-wrapper">

 

<!--header top-->

<!--header top-->

<!--Header Upper-->

<!--Header Upper-->


<!--Main Header-->

<!--End Main Header -->

<!--=================================
=            Page Slider            =
==================================-->
<div class="hero-slider">
  <div *ngFor="let slide of slides; let i = index" class="slider-item"
       [style.backgroundImage]="'url(' + slide.img + ')'"
       [ngClass]="{'active': i === currentSlide, 'slide-in-right': i === currentSlide && previousSlide < currentSlide, 'slide-in-left': i === currentSlide && previousSlide > currentSlide}">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content style text-center">
            <h2 class="text-white text-bold mb-2" [innerHtml]="slide.title"></h2>
            <p class="tag-text mb-4" [innerHtml]="slide.text"></p>
            <a href="about.html" class="btn btn-main btn-white">{{ slide.buttonText }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" (click)="prevSlide()">&#10094;</a>
  <a class="carousel-control-next" (click)="nextSlide()">&#10095;</a>
</div>
 </div>
<!--====  End of Page Slider  ====-->

<section class="cta" style="background-color: #b4f4f600;">
  
    <div class="cta-block row no-gutters">
      <div class="col-lg-4 col-md-6 emmergency item">
        <i class="fa fa-phone"></i>
        <h2>Cas d'urgence</h2>
        <a href="tel:1-800-700-6200">1-800-700-6200</a>
        <p>En cas d'urgence, contactez-nous à tout moment.</p>
      </div>
      <div class="col-lg-4 col-md-6 top-doctor item">
        <i class="fa fa-stethoscope"></i>
        <h2>Service 24H</h2>
        <p>Nous offrons un service continu pour votre bien-être.</p>
        <a href="/service" class="btn btn-main">En savoir plus</a>
      </div>
      <div class="col-lg-4 col-md-12 working-time item">
        <i class="fa fa-hourglass-o"></i>
        <h2>Heures d'ouverture</h2>
        <ul class="w-hours">
          <li>Lundi - Samedi - <span>8:00 - 17:00</span></li>
          <li>Lundi - Samedi - <span>8:00 - 17:00</span></li>
          <li>Lundi - Samedi - <span>8:00 - 17:00</span></li>
        </ul>
      </div>
    </div>
</section>

<!--about section-->
<section class="feature-section section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="image-content">
          <div class="section-title text-center">
            <h3>Meilleures caractéristiques <span>de Notre site web</span></h3>
            <p class="mb-0">Le client doit pouvoir suivre le service client du client. <br> pour l'erreur de fonction, mais à d'autres moments ? Sont?</p>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="item">
                <div class="icon-box" style="height: 100px;">
                  <figure>
                    <a href="services.html"><img loading="lazy" src="../../assets/img/resource/1.png" alt="features img"></a>
                  </figure>
                </div>
                <h3 class="mb-2">Rythme cardiaque</h3>
                <p>Diagnostic de la fréquence cardiaque pour les femmes et les enfants, avec une prise en charge complète dès le premier jour jusqu'à plusieurs mois après la naissance</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="item">
                <div class="icon-box" style="height: 100px;">
                  <figure>
                    <a href="services.html">
                      <img loading="lazy" src="../../assets/img/resource/2.png" alt="features img">
                    </a>
                  </figure>
                </div>
                <h3 class="mb-2">Diagnostic</h3>
                <p>Diagnostiquer la maladie dans tous les cas, en plus de diagnostiquer l'enfant par le poids et de diagnostiquer tous les organes du corps lors de la grossesse</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="item">
                <div class="icon-box" style="height: 100px;">
                  <figure>
                    <a href="services.html">
                      <img loading="lazy" src="../../assets/img/resource/3.png" alt="features image">
                    </a>
                  </figure>
                </div>
                <h3 class="mb-2">Psychologie</h3>
                <p>Prise en charge des femmes depuis le jour du diagnostic jusqu'à l'hospitalisation</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="item">
                <div class="icon-box" style="height: 100px;">
                  <figure>
                    <a href="services.html">
                      <img loading="lazy" src="../../assets/img/resource/4.png" alt="features image">
                    </a>
                  </figure>
                </div>
                <h3 class="mb-2">Traitement général</h3>
                <p>Rappels de tous les rendez-vous de vaccination, en plus de l'enregistrement de vidéos de conseils et d'orientation</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End about section-->

<!--Start about us area-->
<section class="service-tab-section section">
  <div class="outer-box clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
         
          <div class="tab-content" id="aboutTab">
            <div class="service-box tab-pane fade show active" id="dormitory">
              <div class="row">
                <div class="col-lg-6">
                  <img loading="lazy" class="img-fluid" src="../../assets/images/services/service-four.jpg" alt="service-image">
                </div>
                <div class="col-lg-6">
                  <div class="contents">
                    <div class="section-title">
                      <h3>dormitory</h3>
                    </div>
                    <div class="text">
                      <p>The implant fixture is first placed, so that it ilikely to osseointegrate,
                        then a dental prosthetic is added. then a
                        dental prosthetic is added.then a dental pros- thetic is added.</p>
                      <p>The implant fixture is first placed, so that it ilikely to osseointegrate,
                        then a dental prosthetic is added. then a dental
                        prosthetic is added.then a dental pros- thetic is added.</p>
                    </div>
                    <ul class="content-list">
                      <li>
                        <i class="far fa-dot-circle"></i>Whitening is among the most popular dental
                      </li>
                      <li>
                        <i class="far fa-dot-circle"></i>Teeth cleaning is part of oral hygiene and
                        involves</li>
                      <li>
                        <i class="far fa-dot-circle"></i>Teeth cleaning is part of oral hygiene and
                        involves</li>
                    </ul>
                    <a href="services.html" class="btn btn-style-one">Read more</a>
                  </div>
                </div>
              </div>
            </div>
            <!--End single tab content-->
            <!--Start single tab content-->
            <div class="service-box tab-pane fade" id="orthopedic">
              <div class="row">
                <div class="col-lg-6">
                  <img loading="lazy" class="img-fluid" src="../../assets/img/services/service-two.jpg" alt="service-image">
                </div>
                <div class="col-lg-6">
                  <div class="contents">
                    <div class="section-title">
                      <h3>orthopedic</h3>
                    </div>
                    <div class="text">
                      <p>The implant fixture is first placed, so that it ilikely to osseointegrate,
                        then a dental prosthetic is added.
                        then a dental prosthetic is added.then a dental pros- thetic is added.</p>
                      <p>The implant fixture is first placed, so that it ilikely to osseointegrate,
                        then a dental prosthetic is added.
                        then a dental prosthetic is added.then a dental pros- thetic is added.</p>
                    </div>
                    <ul class="content-list">
                      <li>
                        <i class="far fa-dot-circle"></i>Whitening is among the most popular dental
                      </li>
                      <li>
                        <i class="far fa-dot-circle"></i>Teeth cleaning is part of oral hygiene and
                        involves</li>
                      <li>
                        <i class="far fa-dot-circle"></i>Teeth cleaning is part of oral hygiene and
                        involves</li>
                    </ul>
                    <a routerLink="/service" class="btn btn-style-one">Read more</a>
                  </div>
                </div>
              </div>
            </div>
            <!--End single tab content-->
            <!--Start single tab content-->
            <div class="service-box tab-pane fade" id="sonogram">
              <div class="row">
                <div class="col-lg-6">
                  <img loading="lazy" class="img-fluid" src="../../assets/img/services/service-three.jpg" alt="service-image">
                </div>
                <div class="col-lg-6">
                  <div class="contents">
                    <div class="section-title">
                      <h3>sonogram</h3>
                    </div>
                    <div class="text">
                      <p>The implant fixture is first placed, so that it ilikely to osseointegrate,
                        then a dental prosthetic is added.
                        then a dental prosthetic is added.then a dental pros- thetic is added.</p>
                      <p>The implant fixture is first placed, so that it ilikely to osseointegrate,
                        then a dental prosthetic is added.
                        then a dental prosthetic is added.then a dental pros- thetic is added.</p>
                    </div>
                    <ul class="content-list">
                      <li>
                        <i class="far fa-dot-circle"></i>Whitening is among the most popular dental
                      </li>
                      <li>
                        <i class="far fa-dot-circle"></i>Teeth cleaning is part of oral hygiene and
                        involves</li>
                      <li>
                        <i class="far fa-dot-circle"></i>Teeth cleaning is part of oral hygiene and
                        involves</li>
                    </ul>
                    <a href="services.html" class="btn btn-style-one">Read more</a>
                  </div>
                </div>
              </div>
            </div>
            <!--End single tab content-->
            <!--Start single tab content-->
            <div class="service-box tab-pane fade" id="x-ray">
              <div class="row">
                <div class="col-lg-6">
                  <img loading="lazy" class="img-fluid" src="../../assets/img/services/service-four.jpg" alt="service-image">
                </div>
                <div class="col-lg-6">
                  <div class="contents">
                    <div class="section-title">
                      <h3>x-ray</h3>
                    </div>
                    <div class="text">
                      <p>The implant fixture is first placed, so that it ilikely to osseointegrate,
                        then a dental prosthetic is added.
                        then a dental prosthetic is added.then a dental pros- thetic is added.</p>
                      <p>The implant fixture is first placed, so that it ilikely to osseointegrate,
                        then a dental prosthetic is added.
                        then a dental prosthetic is added.then a dental pros- thetic is added.</p>
                    </div>
                    <ul class="content-list">
                      <li>
                        <i class="far fa-dot-circle"></i>Whitening is among the most popular dental
                      </li>
                      <li>
                        <i class="far fa-dot-circle"></i>Teeth cleaning is part of oral hygiene and
                        involves</li>
                      <li>
                        <i class="far fa-dot-circle"></i>Teeth cleaning is part of oral hygiene and
                        involves</li>
                    </ul>
                    <a href="services.html" class="btn btn-style-one">Read more</a>
                  </div>
                </div>
              </div>
            </div>
            <!--End single tab content-->
            <!--Start single tab content-->
            <div class="service-box tab-pane"></div>
<!--End about us area-->

<!--Service Section-->
<section class="service-section bg-gray section">
  <div class="container">
    <div class="section-title text-center">
      <h3>Provided <span>Services</span></h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet. qui suscipit atque <br>
        fugiat officia corporis rerum eaque neque totam animi, sapiente culpa. Architecto!</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="item">
          <div class="icon-box">
            <figure>
              <a href="services.html">
                <img loading="lazy" src="../../assets/img/gallery/1.jpg" alt="features img">
              </a>
            </figure>
          </div>
          <div class="image-content text-center">
            <span>Better Service At Low Cost</span>
            <a href="services.html">
              <h6>Dormitory</h6>
            </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, vero.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item">
          <div class="icon-box">
            <figure>
              <a href="services.html">
                <img loading="lazy" src="../../assets/img/gallery/2.jpg" alt="features img">
              </a>
            </figure>
          </div>
          <div class="image-content text-center">
            <span>Better Service At Low Cost</span>
            <a href="services.html">
              <h6>Germs Protection</h6>
            </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, vero.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item">
          <div class="icon-box">
            <figure>
              <a href="services.html">
                <img loading="lazy" src="../../assets/img/gallery/3.jpg" alt="features img">
              </a>
            </figure>
          </div>
          <div class="image-content text-center">
            <span>Better Service At Low Cost</span>
            <a href="services.html">
              <h6>Psychologie</h6>
            </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, vero.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
          </div></div></div></div></div></section>     
<!--End Service Section-->

<!--team section-->
<section class="testimonial-section section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <h3>Témoignages de Patients <br>
            <span>Ce que disent nos patients satisfaits</span>
          </h3>
        </div>
      </div>
      <!-- Start single testimonial -->
      <div class="col-lg-4 col-md-6">
        <div class="testimonial-item">
          <div class="image-holder">
            <img loading="lazy" class="img-fluid" src="../../assets/images/background/étoiles.jpg" alt="testimonial-image">
          </div>
          <div class="contents">
            <p>"L'équipe médicale a été fantastique du début à la fin. Le traitement que j'ai reçu a été de première classe."</p>
            <h5>John Doe</h5>
            <span>Patient</span>
          </div>
        </div>
      </div>
      <!-- End single testimonial -->
      <!-- Start single testimonial -->
      <div class="col-lg-4 col-md-6">
        <div class="testimonial-item">
          <div class="image-holder">
            <img loading="lazy" class="img-fluid" src="../../assets/images/background/smile.jpg" alt="testimonial-image">
          </div>
          <div class="contents">
            <p>"Je suis très satisfait des soins que j'ai reçus. Tout le personnel a été très attentif à mes besoins."</p>
            <h5>Jane Smith</h5>
            <span>Patient</span>
          </div>
        </div>
      </div>
      <!-- End single testimonial -->
      <!-- Start single testimonial -->
      <div class="col-lg-4 col-md-6">
        <div class="testimonial-item">
          <div class="image-holder">
            <img loading="lazy" class="img-fluid" src="../../assets/images/background/medecinetpatient.jpg" alt="testimonial-image">
          </div>
          <div class="contents">
            <p>"Les installations sont de première classe et le personnel est très professionnel et accueillant."</p>
            <h5>Mary Johnson</h5>
            <span>Patient</span>
          </div>
        </div>
      </div>
      <!-- End single testimonial -->
    </div>
  </div>
</section>
<!--End testimonial-section-->

<!-- Contact Section -->
<section class="team-section section">
  <div class="container">
    <div class="section-title text-center">
      <h3>Nos médecins <span>experts</span></h3>
      <p class="mb-0">Le client doit pouvoir suivre le service client du client. Le plaisir de ça, des choses <br>Qui nous est né doux et ne souffre pas la moindre douleur,</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="item">
          <div class="team-member">
            <img loading="lazy" src="../../assets/img/team/doctor-2.jpg" alt="doctor" class="img-fluid">
            <div class="contents text-center">
              <h4>DR. HENI CHAKER</h4>
              <p>Un médecin spécialisé en gynécologie..</p>
              <a href="appointment.html" class="btn btn-main">Prendre rendez-vous</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="item">
          <div class="team-member">
            <img loading="lazy" src="../../assets/img/team/doctor-lab-3.jpg" alt="doctor" class="img-fluid">
            <div class="contents text-center">
              <h4>Dr. Marry Lou</h4>
              <p>Un médecin spécialisé en obstétrique..</p>
              <a href="appointment.html" class="btn btn-main">Prendre rendez-vous</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="item">
          <div class="team-member">
            <img loading="lazy" src="../../assets/img/team/event-2.jpg" alt="doctor" class="img-fluid">
            <div class="contents text-center">
              <h4>Dr. Sansa Stark</h4>
              <p>Un médecin spécialiste des nourrissons..</p>
              <a href="appointment.html" class="btn btn-main">Prendre rendez-vous</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


</body>

